{% extends '@StandWithUkraine/base.html.twig' %}

{% block title %}Requests from Russian IP addresses are forbidden{% endblock %}

{% block swu_links %}
    {{ parent() }}
    <br>
    <a class="link-secondary" href="https://github.com/bocharsky-bw/stand-with-ukraine-bundle/blob/master/docs/vpn.md" target="_blank" rel="nofollow" referrerpolicy="origin-when-cross-origin">{{ 'stand_with_ukraine.access_denied.fix'|trans({}, 'StandWithUkraineBundle') }}</a>
{% endblock %}
