{% extends '@StandWithUkraine/base.html.twig' %}

{% block title %}Requests from Russian IP addresses are forbidden{% endblock %}

{% block body %}
    <div style="display: table; width: 100%; height: 100%;">
        <div style="display: table-cell; text-align: center; vertical-align: middle; color: red;">
            <div style="display: inline-block;">
                {% if useLinks %}
                    <a href="https://en.wikipedia.org/wiki/Russian_warship,_go_fuck_yourself" target="_blank" style="color: red;" rel="nofollow">
                {% endif %}
                    {{ 'stand_with_ukraine.access_denied'|trans({}, 'StandWithUkraineBundle')|censor }}
                {% if useLinks %}
                    </a>
                {% endif %}
                <div style="text-align: right;" rel="nofollow">
                    <a href="#" style="color: black;">Why?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
