{% extends '@StandWithUkraine/base.html.twig' %}

{% block title %}Russian language is not accepted{% endblock %}

{% block body %}
    <div style="display: table; width: 100%; height: 100%;">
        <div style="display: table-cell; text-align: center; vertical-align: middle; color: red;">
            <div style="display: inline-block;">
                {% if useLinks %}
                    <a href="https://en.wikipedia.org/wiki/Russian_warship,_go_fuck_yourself" style="color: red;" target="_blank" rel="nofollow">
                {% endif %}
                    {{ 'stand_with_ukraine.access_denied'|trans({}, 'StandWithUkraineBundle')|censor }}
                {% if useLinks %}
                    </a>
                {% endif %}
                {% if useLinks %}
                    <div style="text-align: right;">
                        <a href="https://github.com/bocharsky-bw/StandWithUkraineBundle#standwithukrainebundle" style="color: black;" target="_blank" rel="nofollow">Why?</a>
                    </div>
                {% endif %}
                <div style="text-align: right;" >
                    <a href="" style="color: black;" target="_blank" rel="nofollow">How to fix?</a>
                </div>
            </div>
        </div>
    </div>

{#
<br>
<p>
    * Контент этого ресурса недоступен на русском языке. Больше информации здесь.
    Измените основной язык вашего браузера на любой другой для дальнейшего просмотра.
    Инструцию о том как изменить основной язык в вашем браузере {{ browser }} вы можете найти здесь:
    {% if browser %}
        <a href="">...</a>
        <br>
        Другие браузеры:
    {% endif %}
</p>
<ul>
    <li>Google Chrome</li>
    <li>Firefox</li>
    <li>Safari</li>
</ul>
#}
{% endblock %}
